.pt-5 {
  margin-top: 50px;
}

.text-editor {
  height: 500px;
  background-color: aqua;
}

.list-data {
  margin: 50px;
}

.main-container {
  width: 70%;
  margin: 0 auto;
  background-color: #ffffff;
  margin-top: 50px;
}
